html, body {
	overflow-x:hidden;
}
body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	color: #091c33;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather", Georgia, Times;
	font-color: #091c33;
}
h2 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 5px;
}
p {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

	font-size: 18px;
	line-height: 21px;
	font-weight: 100;
}
ul {
	list-style: none;
	padding: 0;
}

/* GRID */
.container {
margin-top: 0px;
margin-bottom: 0px;
position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width:96%;
	float:left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width:46%;
	}
	.one-third {
		width: 29.3333%
	}
	.one-fourth {
		width: 21%
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}


/* HEADER */
.nav {
	background-color: #ff9c02;
	padding:1em 0;	
	height: 45px;
	position: absolute;
	top: 0;
	width: 100%
}
.site-logo {
	position: relative;
	top: 1px;
}

.nav ul {
	font-family: "Source Sans Pro";
	font-weight: 600;  /*semibold*/
	display: inline;
	text-align: right;
	color: #ffffff;
	float:right;
	margin:0;
}
.nav ul > li {
	 display: inline-block;
	 margin:0 15px;
}
.nav ul > li.btn-outline {
	 padding: 10px 15px;
	 border:2px solid #FFFFFF;
	 border-radius: 4px;
}
.nav ul > li.btn-outline:hover {
	background:#FFFFFF;
}
.nav ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
}
.nav ul > li.btn-outline:hover > a {
	color: #ff9c02;
}
.hero {
	background-image: url('http://jillchou.com/blog/site_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:660px;
}

.hero_text {
	text-align: center;
	position: relative;
	display: block;
	top: 455px;
}
.hero_text h1 {
	color: #091c33;
	font-size: 36px
}
.hero_text p {
	color: #091c33;
	font-size: 20px;
	margin:-10px 0 30px;
}

/* Buttons */
.btn {
	border-radius: 4px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #ff9c02;
	box-shadow: 0px 2px 0px 0px #091c33;
}

/* Benifits */
.create-note, .save-images, .add-links {
	position: relative;
	width: 1280px;
}
.create-note {
		background-image: url('http://jillchou.com/blog/add_note.jpg');
		height:370px;
		background-repeat: no-repeat;
		background-size: cover;
}
.inner {
		background: #ffffff; 
		background: rgba(255, 255, 255, 0.9);
		width: 30%;
		padding: 30px;
		text-align: left;
		position: absolute;	
		display: block;
		top:50px;
		left:50px;
		text-align: center;
}
.save-images {
		background-image: url('http://jillchou.com/blog/save_images.jpg');
		height:370px;
}
.save-images .inner {
	left:auto;
	right:50px;
}

.add-links {
		background-image: url('http://jillchou.com/blog/add_link.jpg');
		height:370px;
}

.benefits .container i {
	color: #377a91;
	font-size: 50px;
}
.benefits .container h2 {
	color: #377a91;
}

/* Pricing */
.pricing {
background-color: #091c33;
height: 450px;
text-align: center;
padding: 1em 0;

}
.pricing .container h2 {
	color:#ff9c02;
	text-align: center;
}
.pricing .container p {
	color:#ffffff;
	text-align: center;
	font-size: 16px;
	margin-right: 250px;
	margin-left: 250px;
}
.pricing .container .one-third {
	color:#ffffff;
}

.pricing .container .one-third ul {
	margin-bottom: 30px;
}


/* Testimonials */
.testimonials {
	background-color: #f0f0f0;
}
.testimonials .container h2 {
	color:#377a91;
	text-align: center;
}
.testimonials .container p {
	color:#091c33;
	text-align: center;
	font-size: 16px;
	margin-right: 250px;
	margin-left: 250px;
}

/* Footer */

