html, body {
	overflow-x:hidden;
}
body {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	color: #091c33;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather", Georgia, Times;
	font-color: #091c33;
}
h2 {
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 5px;
}
p {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

	font-size: 18px;
	line-height: 21px;
	font-weight: 100;
}
ul {
	list-style: none;
	padding: 0;
}

/* GRID */
.container {
margin-top: 0px;
margin-bottom: 0px;
position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width:96%;
	float:left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width:46%;
	}
	.one-third {
		width: 29.3333%
	}
	.one-fourth {
		width: 21%
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}


/* HEADER */
.nav {
	background-color: #ff9c02;
	padding:1em 0;	
	height: 45px;
	position: absolute;
	top: 0;
	width: 100%
}
.site-logo {
	position: relative;
	top: 1px;
}

.nav ul {
	font-family: "Source Sans Pro";
	font-weight: 600;  /*semibold*/
	display: inline;
	text-align: right;
	color: #ffffff;
	float:right;
	margin:0;
}
.nav ul > li {
	 display: inline-block;
	 margin:0 15px;
}
.nav ul > li.btn-outline {
	 padding: 10px 15px;
	 border:2px solid #FFFFFF;
	 border-radius: 4px;
}
.nav ul > li.btn-outline:hover {
	background:#FFFFFF;
}
.nav ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
}
.nav ul > li.btn-outline:hover > a {
	color: #ff9c02;
}
.hero {
	background-image: url('http://jillchou.com/blog/site_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:660px;
}

.hero_text {
	text-align: center;
	position: relative;
	display: block;
	top: 455px;
}
.hero_text h1 {
	color: #091c33;
	font-size: 36px
}
.hero_text p {
	color: #091c33;
	font-size: 20px;
	margin:-10px 0 30px;
}

/* Buttons */
.btn {
	border-radius: 4px;
	color:#FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #ff9c02;
	box-shadow: 0px 2px 0px 0px #091c33;
}

/* Benifits */
.create-note, .save-images, .add-links {
	position: relative;
	width: 1280px;
}
.create-note {
		background-image: url('http://jillchou.com/blog/add_note.jpg');
		height:370px;
		background-repeat: no-repeat;
		background-size: cover;
}
.inner {
		background: #ffffff; 
		background: rgba(255, 255, 255, 0.9);
		width: 30%;
		padding: 30px;
		text-align: left;
		position: absolute;	
		display: block;
		top:50px;
		left:50px;
		text-align: center;
}
.save-images {
		background-image: url('http://jillchou.com/blog/save_images.jpg');
		height:370px;
}
.save-images .inner {
	left:auto;
	right:50px;
}

.add-links {
		background-image: url('http://jillchou.com/blog/add_link.jpg');
		height:370px;
}

.benefits .container i {
	color: #377a91;
	font-size: 50px;
}
.benefits .container h2 {
	color: #377a91;
}

/* Pricing */
.pricing {
background-color: #091c33;
height: 570px;
text-align: center;
padding: 1em 0;

}
.pricing .container h2 {
	color:#ff9c02;
	text-align: center;
}
.pricing .container p {
	color:#ffffff;
	text-align: center;
	font-size: 16px;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 30px;
}
.pricing .container .one-third {
	color:#091c33;
}

.pricing .container .one-third ul {
	margin-bottom: 30px;
}

.box {
	padding:1px 3px 3px;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
	min-height: 350px;
	position: relative;
	margin-top: 20px;
}
.box.middle {
	min-height: 400px;
	margin-top: 1px;
}
.box h3 {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background: #377a91;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	margin: 0 -8px 35px;
	padding: 10px 0;
}
.box h4 {
	font-size: 45px;
	font-weight: normal;
	margin: 30px 0 10px;
	color: #091c33;
}
.box h4 span {
	font-size: 28px;
	vertical-align: top;
}
.box h4 span.month {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #377a91;
	font-size: 20px;
	vertical-align: middle;
}
.box ul li {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 100;
}

/* Testimonials */
.testimonials {
	background-color: #f0f0f0;
	height: 530px;
	text-align: center;
	padding: 1em 0;
}
.testimonials .container h2 {
	color:#377a91;
}

.testimonials .container p {
	color:#091c33;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 30px;
}

.testimonials .container {
	margin-bottom: 20px;
}
.testimonials blockquote {
	color: #ffffff;
	font-size: 16px;
	font-weight: 100px;
	text-align: left;
	font-style: italic;
	background: #377a91;
	position: relative;
	padding: 25px;
	width: auto;
	margin: 0;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.testimonials blockquote:after {
	top: 100%;
	left:13%;
	border: solid transparent;
	content: " ";
	height:0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #377a91;
	border-width: 10px;
	margin-left: -10px;
}
.testimonials img {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	float: left;
	display: inline-block;
	margin: 20px 10px 0 0;
}
.testimonials p.name {
	float: left;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	margin: 30px 10px 0 0;

}

.testimonials a {
	text-align: center;
	margin-top: 150px;
}

/* Footer */
footer {
	background-color: #091c33;
	color: #ffffff;
	height: 100px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
footer p, footer nav ul {
	font-size: 14px;
	font-weight: 100;
	text-align: center;
	margin: 10px auto 0;
		 margin-top: 45px;
}
footer nav ul li {
	list-style-type: none;
	 display: inline;
	 padding-right: 15px;
	 float: right;

}
footer nav ul li a {
	color: #ff9c02;
	text-decoration: none;

}
footer .logo {
	float: left;
	position: relative;
	margin-top: 20px;
}
footer p {
	margin-top: 45px;
	font-size: 13px;
}
.right-footer-block {
	text-align: right;
	margin-top: 30px;
}

/*Dashboard*/
.dashboard {
	background: #F7F7F7;
}
.left-nav {
   height: 100%;
   width:280px;
   color:#FFFFFF;
   background: #34495E;
   background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
   float:left;
   position: fixed;
   position:absolute;
   display:block;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#34495E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 7px 12px;
   border-radius: 4px;
   left: 10px;
   top: 12px;
 }

 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #34495E;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
.left-nav {
	height: 100vh; /*vertical height*/
	width: 14.66666667%;
	color: #0a1c34;
	background: #cfd1d0;
	float: left;
	position:fixed;
	display:block;
}

.left-nav .site-logo {
	padding:10px 0;
	background: #ff9c01;
	display: block;
	text-align: center;
	height: 45px;
}
.left-nav .items {
	padding: 0 6%;
}
.left-nav .items p {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #0a1c34;
	line-height: 15px;
}
.left-nav .items ul {
	 margin: 0 0 40px;
	 padding: 0;
}
.left-nav .items ul li {
	list-style-type: none;
	margin-bottom: 15px; /*leading for list*/
}
.left-nav .items ul li a {
	color: #0a1c34;
	text-decoration: none;
	font-weight: 100;
}
.left-nav .items ul li a:hover {
  color: #ff9c02;
}

.left-nav .items ul li a:active {
  color: #ff9c02;
}

.left-nav .items ul li a i {
	width: 16px;
	text-align: center;
	margin-right: 8px; /*space between icon and list*/
}
.top-nav .settings {
	position:absolute;
	height: 67px;
	background:#0a1c34;
	width: 100%;
	top: 0;
	bottom:15px;
	padding: 0px 0;
}
.top-nav .settings img {
	height:35px;
	width: 35px;
	display: inline-block;;
	float: right; 
	padding-top: 20px;
	padding-right: 50px; 
}
.top-nav .settings p {
	color: #8f9bab;
	display: inline-block;
	float: right; 
	padding-top: 15px;
	font-weight: 200;
	font-size: 14px;
	margin:0 0 0 20px;
}
.top-nav .settings a {
	color: #8f9bab;
	text-decoration: none;
	float: right; 
	text-align: right;
	font-size: 14px;
	margin-right: 20px;
	margin-top: 15px;
}

/*CONTENT*/
.content {
	padding: 6em 1% 1.5em;
	float: right;
	width: 98%;
	position: relative;
}
.content .header {
	margin: 0 1% 20px;
}
.content .header h1 {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #0a1c34;
	font-size: 36px;
	text-align: center;
	float: center;
	display: inline-block;
	margin-top: 30px;
}
.content .header .btn {
	float: right;
	margin-top: -5px;
}
.content-item {
	width: 96%;
	margin: 0 2% 25px;
	float: left;
	display: block;
}
.item-box {
	display: block;
	height: 230px;
	background: #ffffff;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
	position: relative;
	overflow: hidden;
	padding: 20px;
}

/* Larger Mobile Devices */
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 90%;
		position: relative;
	}
	.content-item {
		width: 46%;
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		float: right;
		width: 90%;
		position: relative;
	}
	.content > .container {
		width: 700px;
	}
	.content-item {
		width: 31.33333%;
		margin: 0 1% 25px;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.content {
		padding: 1.5em 1%;
		float: right;
		width: 83.33333333%;
		position: relative;
	}
	.content > .container {
		width: auto;
	}
	.content-item {
		width: 23%;
		margin: 0 1% 25px;
	}
}

.item-box > img {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	right: 0;
}

.item-box h2 {
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	margin: 0
}
.item-box h2 a {
	color: #0a1c34;
	text-decoration: none;
}
.item-box h2 img {
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.item-box p {
	font-size: 14px;
	font-weight: 400;
	color: #377a91;
	line-height: 18px;
	margin: 5px 0 0;
}
#add p {
	font-size: 36px;
	text-align: center;
	font-weight: 100;
	margin-top: 100px;

}

